/* .container{

    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: ;
    
    
}
.logo{
    background-color: blue;
    
}
.header-container{
    background-color: pink;

    display: 

} */
.container {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    background-color: blue;
}

.header-container {
    background-color: pink;
    display: flex;
    gap: 10px; /* Optional: adds space between links */
}
.section-main {
    padding: 60px 0;
    background-color: rgb(50, 43, 56); 
    /* Light gray background for the main section */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section-heading{
    font-weight: 200px;
    color: rgb(175, 36, 36);
}
.section-article{
    background-color: brown;
}
.section-aside{
    background-color: green;
}

